/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
.env
start.php
response.php
request.php
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
